@namespace BlazorHosted.Client.Components
@if (buyer != null)
{
<div style="float: left; width: 100%; background-color: @selectioncolor">
    <div style="float: left; width: 25%">
        <p>@buyer.id</p>
    </div>
    <div style="float: left; width: 25%">
        <p>@buyer.name</p>
    </div><div style="float: left; width: 25%">
        <p>@buyer.totalspent</p>
    </div><div style="float: left; width: 25%">
        <p><button @onclick="@(async ()=>await ToggleSelection())">select</button></p>
    </div>
</div>
}
@code
{
    [Parameter]
    public string id { get; set; }
    [Parameter]
    public EventCallback<KeyValuePair<string,bool>> OnSelected { get; set; }

    string selectioncolor = "#ffd800";

    public bool is_selected { get; set; }
    BuyerModel buyer;
    protected override async Task OnParametersSetAsync()
    {
        buyer = await http.GetFromJsonAsync<BuyerModel>("/api/getbuyerdetails?id=" + id.ToString());
    }

    async Task ToggleSelection()
    {
        is_selected = !is_selected;
        selectioncolor = is_selected ? "#4cff00" : "#ffd800";
        await OnSelected.InvokeAsync(new KeyValuePair<string, bool>(id, is_selected));


    }
}
